Rental Report:

- - - - - - - - - - - - - - - - - - - - - - - - - -
Contract starts:     {START}
Weekly rental:       ${RENTAL}

This payment cycle: {first_day} - {last_day}
This payment amount: ${payment_amount}

Total Cycles up-to-date: {total_payment_cycles}
- - - - - - - - - - - - - - - - - - - - - - - - - -

Please make sure rental is paid on time.
{bank_details}
